p{
    font-family: montserrat;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.title{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}
.text{
    font-size: 23px;
}